#------------------------------------------------  By Christian O. Sajere  -----------------------
--------------------------------------------     Regression Models with Keras 
By Christian O.Sajere

The model Start with importing the various libaries that will be needed for modeling.

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import numpy as np

In [14]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

## **Output the data so we can see, and analyse it using Pandas.**

In [15]:
concrete_data.shape

(1030, 9)

In [16]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [17]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

# Split the Dataset into dependent and independant varaibles. that is what we are looking for, "Target" and what we use to get the target which is "Predictors", which are also called features.

In [18]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [19]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [20]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [21]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [22]:
n_cols = predictors_norm.shape[1] # number of predictors

In [23]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [24]:
# build the model
model = regression_model()

In [25]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=2)

Epoch 1/100
23/23 - 15s - loss: 1698.1317 - val_loss: 1189.9132
Epoch 2/100
23/23 - 0s - loss: 1591.7388 - val_loss: 1101.3759
Epoch 3/100
23/23 - 0s - loss: 1440.2180 - val_loss: 963.7808
Epoch 4/100
23/23 - 0s - loss: 1202.3130 - val_loss: 760.0726
Epoch 5/100
23/23 - 0s - loss: 862.8348 - val_loss: 522.9415
Epoch 6/100
23/23 - 0s - loss: 520.0082 - val_loss: 321.0190
Epoch 7/100
23/23 - 0s - loss: 298.2442 - val_loss: 214.3805
Epoch 8/100
23/23 - 0s - loss: 223.6868 - val_loss: 188.6359
Epoch 9/100
23/23 - 0s - loss: 209.7953 - val_loss: 183.8350
Epoch 10/100
23/23 - 0s - loss: 199.5290 - val_loss: 179.4361
Epoch 11/100
23/23 - 0s - loss: 191.4227 - val_loss: 176.5671
Epoch 12/100
23/23 - 0s - loss: 185.5787 - val_loss: 174.7630
Epoch 13/100
23/23 - 0s - loss: 180.5093 - val_loss: 172.7216
Epoch 14/100
23/23 - 0s - loss: 176.2099 - val_loss: 171.4049
Epoch 15/100
23/23 - 0s - loss: 173.4205 - val_loss: 170.8058
Epoch 16/100
23/23 - 0s - loss: 169.4897 - val_loss: 165.2624
Epoch 17/100
23/23 - 0s - loss: 167.0184 - val_loss: 163.8582
Epoch 18/100
23/23 - 0s - loss: 164.4228 - val_loss: 162.9586
Epoch 19/100
23/23 - 0s - loss: 161.9021 - val_loss: 162.4134
Epoch 20/100
23/23 - 0s - loss: 160.2196 - val_loss: 161.0300
Epoch 21/100
23/23 - 0s - loss: 158.2511 - val_loss: 159.2297
Epoch 22/100
23/23 - 0s - loss: 156.2172 - val_loss: 158.4172
Epoch 23/100
23/23 - 0s - loss: 155.5881 - val_loss: 157.8272
Epoch 24/100
23/23 - 0s - loss: 153.2506 - val_loss: 156.7947
Epoch 25/100
23/23 - 0s - loss: 151.2601 - val_loss: 156.9676
Epoch 26/100
23/23 - 0s - loss: 149.6425 - val_loss: 157.9683
Epoch 27/100
23/23 - 0s - loss: 148.2342 - val_loss: 156.3000
Epoch 28/100
23/23 - 0s - loss: 146.7009 - val_loss: 156.5161
Epoch 29/100
23/23 - 0s - loss: 145.0058 - val_loss: 156.3725
Epoch 30/100
23/23 - 0s - loss: 144.6175 - val_loss: 154.2130
Epoch 31/100
23/23 - 0s - loss: 141.9211 - val_loss: 156.0886
Epoch 32/100
23/23 - 0s - loss: 140.5078 - val_loss: 155.6927
Epoch 33/100
23/23 - 0s - loss: 139.1361 - val_loss: 154.1526
Epoch 34/100
23/23 - 0s - loss: 137.6980 - val_loss: 152.3709
Epoch 35/100
23/23 - 0s - loss: 135.6228 - val_loss: 155.5912
Epoch 36/100
23/23 - 0s - loss: 134.2649 - val_loss: 153.9583
Epoch 37/100
23/23 - 0s - loss: 133.0269 - val_loss: 153.3501
Epoch 38/100
23/23 - 0s - loss: 131.1264 - val_loss: 153.4253
Epoch 39/100
23/23 - 0s - loss: 129.4742 - val_loss: 152.6724
Epoch 40/100
23/23 - 0s - loss: 128.2897 - val_loss: 156.0098
Epoch 41/100
23/23 - 0s - loss: 126.2762 - val_loss: 154.4985
Epoch 42/100
23/23 - 0s - loss: 124.4309 - val_loss: 152.8489
Epoch 43/100
23/23 - 0s - loss: 122.8159 - val_loss: 153.1416
Epoch 44/100
23/23 - 0s - loss: 120.8960 - val_loss: 156.7691
Epoch 45/100
23/23 - 0s - loss: 119.0936 - val_loss: 152.2973
Epoch 46/100
23/23 - 0s - loss: 117.4859 - val_loss: 155.0479
Epoch 47/100
23/23 - 0s - loss: 115.4097 - val_loss: 153.7229
Epoch 48/100
23/23 - 0s - loss: 113.3564 - val_loss: 152.0201
Epoch 49/100
23/23 - 0s - loss: 110.8510 - val_loss: 150.7041
Epoch 50/100
23/23 - 0s - loss: 108.5963 - val_loss: 153.4013
Epoch 51/100
23/23 - 0s - loss: 106.5965 - val_loss: 151.7056
Epoch 52/100
23/23 - 0s - loss: 104.0191 - val_loss: 151.9840
Epoch 53/100
23/23 - 0s - loss: 101.4977 - val_loss: 148.0603
Epoch 54/100
23/23 - 0s - loss: 98.7373 - val_loss: 152.5627
Epoch 55/100
23/23 - 0s - loss: 96.1856 - val_loss: 151.1178
Epoch 56/100
23/23 - 0s - loss: 92.9262 - val_loss: 145.0940
Epoch 57/100
23/23 - 0s - loss: 89.9387 - val_loss: 149.0546
Epoch 58/100
23/23 - 0s - loss: 86.8844 - val_loss: 145.0988
Epoch 59/100
23/23 - 0s - loss: 84.0407 - val_loss: 143.6015
Epoch 60/100
23/23 - 0s - loss: 80.7113 - val_loss: 138.4859
Epoch 61/100
23/23 - 0s - loss: 77.4532 - val_loss: 141.6241
Epoch 62/100
23/23 - 0s - loss: 75.1447 - val_loss: 137.3875
Epoch 63/100
23/23 - 0s - loss: 71.9265 - val_loss: 141.9442
Epoch 64/100
23/23 - 0s - loss: 69.1013 - val_loss: 134.9151
Epoch 65/100
23/23 - 0s - loss: 67.0531 - val_loss: 134.7915
Epoch 66/100
23/23 - 0s - loss: 64.3623 - val_loss: 132.7334
Epoch 67/100
23/23 - 0s - loss: 62.3771 - val_loss: 131.4496
Epoch 68/100
23/23 - 0s - loss: 60.0534 - val_loss: 124.9848
Epoch 69/100
23/23 - 0s - loss: 58.7758 - val_loss: 130.4436
Epoch 70/100
23/23 - 0s - loss: 56.2120 - val_loss: 128.1808
Epoch 71/100
23/23 - 0s - loss: 54.3960 - val_loss: 127.2476
Epoch 72/100
23/23 - 0s - loss: 53.3118 - val_loss: 127.5878
Epoch 73/100
23/23 - 0s - loss: 51.6515 - val_loss: 117.2701
Epoch 74/100
23/23 - 0s - loss: 51.0690 - val_loss: 119.9250
Epoch 75/100
23/23 - 0s - loss: 49.1226 - val_loss: 117.7568
Epoch 76/100
23/23 - 0s - loss: 47.4580 - val_loss: 120.7983
Epoch 77/100
23/23 - 0s - loss: 46.6701 - val_loss: 122.3093
Epoch 78/100
23/23 - 0s - loss: 46.0442 - val_loss: 117.2471
Epoch 79/100
23/23 - 0s - loss: 44.6611 - val_loss: 116.1199
Epoch 80/100
23/23 - 0s - loss: 43.8484 - val_loss: 119.7016
Epoch 81/100
23/23 - 0s - loss: 42.7918 - val_loss: 118.0282
Epoch 82/100
23/23 - 0s - loss: 42.8066 - val_loss: 119.8616
Epoch 83/100
23/23 - 0s - loss: 41.4987 - val_loss: 112.0907
Epoch 84/100
23/23 - 0s - loss: 41.0414 - val_loss: 114.7632
Epoch 85/100
23/23 - 0s - loss: 40.0774 - val_loss: 113.7866
Epoch 86/100
23/23 - 0s - loss: 39.3590 - val_loss: 111.5470
Epoch 87/100
23/23 - 0s - loss: 38.5226 - val_loss: 118.5221
Epoch 88/100
23/23 - 0s - loss: 38.5570 - val_loss: 108.2307
Epoch 89/100
23/23 - 0s - loss: 38.2657 - val_loss: 121.5021
Epoch 90/100
23/23 - 0s - loss: 38.0903 - val_loss: 111.0890
Epoch 91/100
23/23 - 0s - loss: 36.6735 - val_loss: 112.1256
Epoch 92/100
23/23 - 0s - loss: 36.2587 - val_loss: 111.1968
Epoch 93/100
23/23 - 0s - loss: 35.7609 - val_loss: 114.5605
Epoch 94/100
23/23 - 0s - loss: 35.3508 - val_loss: 111.4907
Epoch 95/100
23/23 - 0s - loss: 34.5496 - val_loss: 122.4063
Epoch 96/100
23/23 - 0s - loss: 35.0615 - val_loss: 116.1365
Epoch 97/100
23/23 - 0s - loss: 34.3679 - val_loss: 110.1546
Epoch 98/100
23/23 - 0s - loss: 33.3777 - val_loss: 107.4017
Epoch 99/100
23/23 - 0s - loss: 33.2482 - val_loss: 116.8428
Epoch 100/100
23/23 - 0s - loss: 32.8815 - val_loss: 109.1852